{% if folders_toc %}
<ol>
    {% for path in folders_toc %}
    <li class="h1">
        <a href="{{ path.anchor }}">{{ path.title }}</a>
    </li>
    {% endfor %}
</ol>
{% endif %}
{% if folder_toc and sources_toc %}
<span class="toc-separator"></span>
{% endif %}
{% if sources_toc %}
<ol>
    {% for h1 in sources_toc %}
    <li class="h1">
        <a href="{{ h1.anchor }}">{{ h1.title }}</a>
        <ul>
            {% for h2 in h1.h2 %}
            <li class="h2">
                <a href="{{ h2.anchor }}">{{ h2.title }}</a>
                <ul>
                    {% for h3 in h2.h3 %}
                    <li class="h3">
                        <a href="{{ h3.anchor }}">{{ h3.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ol>
{% endif %}